// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import url('https://fonts.googleapis.com/css? family=Oxygen:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css? family=Comfortaa&display=swap');
/*
$body-font-family: 'Poppins';
$title-font: 'Comfortaa';
*/
.v-stepper__content{
  padding: 0!important;
}

.theme--dark.v-sheet {
  background-color: #303030;;
}
